
@{
    ViewData["Title"] = "Subjects";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
                Subject Name
            </th>
            <th>
                Number Of Students
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in (dynamic)(ViewData["subjects"])) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.SubjectName
            </td>
            <td>
                @item.NumberOfStudent
            </td>
            <td>
                <a asp-controller="Home" asp-action="Register" asp-route-id="@item.Id">Register</a>
            </td>
        </tr>
}
    </tbody>
</table>
